#container {
	width: 960px;
	margin: 0 auto;
}

.container-elements {
	margin-top: 12px;
}
.container-elements > div {
	display: inline-block;
}
.container-elements > div:nth-child(odd) {
	float: left;
}
.container-elements > div:nth-child(even) {
	float: right;
}

.btn {
	width: 20%;
	display: inline-block;
	line-height: 36px;
	text-align: center;
}
.btn:hover {
	cursor: pointer;
	color: rgb(0, 140, 214);
}

.selectors-sets {

}
.selectors {

}
.selectors-selected {
	color: rgb(0, 140, 214);
}
.tabs-sets {
	width: 100%;
	height: 85%;
}
.tabs {
	width: 100%;
	height: 100%;
	display: none;
}
.tabs-selected {
	display: inline-block;
}

.tabs-item {
	width: 100%;
	height: 100%;
}

#url-input {
	width: 90%;
}
#submit {
	width: 8%;
}

#map-area {
	width: 59%;
	height: 480px;
}
#map {
	width: 100%;
	height: 444px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}


#statics-area {
	width: 39%;
	height: 480px;
}

#article-area {
	width: 59%;
	height: 480px;
}
#article-info > div {
	display: inline-block;
}
#article-title {
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: bold;
	float: left;
}
#article-date {
	font-size: 1rem;
	line-height: 1.6rem;
	float: right;
}
#article-source {
	clear: right;
}
/*
#article-pic {
	width: 60%;
	height: 60%;
	background-size: cover;
	margin: 20px 20%;
	background-image: url(../pic.jpg);
}
*/
#news-area {
	width: 39%;
	height: 480px;
}

.news-items {
	width: 100%;
	height: 120px;
}
.news-contents {
	width: 100%;
}
.news-titles {
	font-size: 1rem;
	line-height: 1rem;
	font-weight: bold;
	float: left;
}
.news-dates {
	font-size: 0.6rem;
	line-height: 1rem;
	float: right;
}
.news-briefs {
	font-size: 0.8rem;
	line-height: 0.8rem;
	clear: both;
}
